
<h2>List of expenses:</h2>

<div class="col-sm-4">
    <input type="text" ng-model="query" placeholder="Search" class="form-control"/>
</div>

<div class="pull-right">
    <a class="btn btn-primary" href="#/expenses/new">Add</a>
</div>

<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th ng-click="orderBy('name')">Expense Name</th>
        <th ng-click="orderBy('value')">Value</th>
        <th ng-click="orderBy('date')">Date</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="expense in expenses | filter:query | orderBy:sortField">
        <td>{{ $index }}</td>
        <td>{{ expense.name }}</td>
        <td>{{ expense.value }}</td>
        <td>{{ expense.date | date:'medium' }}</td>
        <td><a href="#/expenses/{{ expense.id }}/edit"><span class="glyphicon glyphicon-pencil"></span></a></td>
    </tr>
    </tbody>
</table>