<h2>{{ title }}</h2>

<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="name" placeholder="Name" ng-model="expense.name">
        </div>
    </div>
    <div class="form-group">
        <label for="value" class="col-sm-2 control-label">Value</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" id="value" placeholder="0.0" ng-model="expense.value">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
            <button type="submit" class="btn btn-primary" ng-click="submit()" ng-disabled="! expense">{{ button }}{{ expense.name }}</button>
            <button class="btn btn-danger" ng-click="delete()" ng-show="edit">Delete</button>
        </div>
    </div>
</form>